<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {{if eq .site.Name "Olympus" -}}
        <title>Olympus</title>
    {{else -}}
        <title>Olympus: {{.site.Name}}</title>
    {{end -}}
    <link rel="stylesheet" type="text/css" href="/static/stylesheet.css">
    <script>
        // When the user clicks on <div>, open the popup
        function myFunction(id) {
            var popup = document.getElementById(id);
            popup.classList.toggle("show");
        }
    </script>
</head>
<body>
<h1>{{.site.Name}}</h1>

<div class="page">
{{template "content" . }}
</div>
<hr/>
<div class="footer">
    Powered by <a href="https://github.com/deweysasser/olympus"> Olympus</a>
</div>
</body>
</html>