html {
    margin: 1em;
}

div.page {
    margin: 1em;
}

h1 {
    text-align: center;
}

table.changes {
    background-color: lightblue;
    padding: 1ex;
    margin-left: auto;
    margin-right: auto;
}

table.changes, table.changes tr, table.changes td {
    border: 1px solid black;
}

td {
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;
}


td.label {
    padding: 1px;
    text-align: left;
}


td.label { font-weight: bold}
td.nodata { background-color: gray}
td.none { background-color: green}
td.added { background-color: lightgreen}
td.updated { background-color: yellow}
td.deleted { background-color: orange}
td.error { background-color: red}
td.missing { background-color: rebeccapurple}

.footer {
    text-align: right;
}


/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

.popup:hover .popuptext {
    visibility: visible;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}