{{template "base.html" .}}
{{define "content"}}

<table class="changes">
    {{ $rows := .data.Rows}}
    <tr>
        <th></th>
        {{- range .data.Columns -}}
        <th>{{.}}</th>
        {{ end -}}
    </tr>

    {{range .data.Rows}}
    <tr>
    <td class="label">
        {{.Name}}
    </td>
        {{range .Contents -}}
            {{if . -}}
                {{ $id := print .ColumnName "---" .RowName }}
                {{with .Summary -}}
                    <td class="{{.Changes.Highest}}">
                        {{if .Changes.HasAny -}}
                        <div class="popup" onclick="myFunction('{{$id}}')">+{{.Changes.Added}} ~{{.Changes.Updated}} -{{.Changes.Deleted}}
                            <span class="popuptext" id="{{$id}}">{{.ChangedResources}}</span>
                        </div>
                        {{ end -}}
                    </td>
                {{end -}}
            {{else -}}
            <td class="nodata"/>
            {{end -}}
        {{end -}}
    </tr>
    {{end -}}

</table>
{{end}}